.section-card {
    width: 100vw;
    padding: 0rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: fit-content;
    min-height: 25vh;
    margin: 1rem 0rem;
}

.section-card h2 {
    text-align: center;
}