@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset some defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
}

/* Global body styles */
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
  min-height: 100vh;
}

:root {
  /* Light Mode */
  --background-color: #fefcfb;
  --footer-background-color: #e5e5e5;
  --font-color: #22223b;
  --card-background-color: #edede9;
  --primary-button-background-color: #;
  --primay-button-font-color: #;
  --secondary-button-color: #;
}

/* Links */
/* a {
  text-decoration: none;
  color: inherit;
}

.header-logo {
  width: 13rem;
}

.footer-logo {
  margin-top: 6px;
  width: 13rem;
}

.nav-links-img {
  width: 2rem;
}

.card {
  width: 100vw;
  border: solid red 1px;
} */