@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset some defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global body styles */
body {
  font-family: 'Inter', sans-serif;
  color: #333;
  min-height: 100vh; /* ensures gradient covers full page */
  padding: 0rem 0.5rem;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

.header-logo {
  width: 13rem;
}

.footer-logo {
  margin-top: 6px;
  width: 13rem;
}

.nav-links-img {
  width: 2rem;
}